<div class="main-container">
  <form
    class="form-container"
    [formGroup]="formGroup"
    (ngSubmit)="recoverPassword()"
  >
    <div class="table-layout">
      <div class="form-field-container">
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" />
      </div>
      <div class="form-field-container">
        <label for="confirm-password">Confirm Password</label>
        <input
          type="password"
          name="confirm-password"
          formControlName="confirmPassword"
        />
      </div>
    </div>
    <div class="buttons-layout">
      <button type="submit" class="submit-button">Create account</button>
    </div>
  </form>
</div>
