<div class="main-container">
  <form [formGroup]="formGroup" (ngSubmit)="login()" class="form-container">
    <div class="form-field-container">
      <label for="email">Email</label>
      <input type="email" name="email" formControlName="email" />
    </div>
    <div class="form-field-container">
      <label for="password">Password</label>
      <input type="password" name="password" formControlName="password" />
    </div>
    <div class="form-field-container">
      <label for="verification-code-type">Send verification code to</label>
      <select name="verification-code-type" formControlName="verificationCodeType" style="width: 100%;">
        <option value="email">Email</option>
        <option value="phone">Phone</option>
      </select>
    </div>
    <div class="buttons-layout">
      <button style="margin-top: 10px" type="submit" class="submit-button" [disabled]="loginButtonDisabled">
        Login
      </button>
      <p class="navigation-text" (click)="goToCreateAccount()">
        Create an account
      </p>
      <p class="navigation-text" (click)="goToResetPassword()">
        <b>Forgot password?</b>
      </p>
      <ngx-recaptcha2 *ngIf="!isRecaptchaVerified" #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
      </ngx-recaptcha2>
    </div>
  </form>
</div>