:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    box-shadow: 0px 0px 1vmax 1vmax rgb(190, 190, 190);
    border-radius: 5vmax;
    width: 95vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}