<div class="main-container">
  <form
    class="form-container"
    [formGroup]="formGroup"
    (ngSubmit)="sendRecoveryCode()"
  >
    <div class="table-layout">
      <div class="form-field-container">
        <label for="verification-code-type" style="font-size: small"
          >Select the way you want to receive activation code</label
        >
        <select
          name="verification-code-type"
          formControlName="verificationCodeType"
        >
          <option value="email">Email</option>
          <option value="phone">Phone</option>
        </select>
      </div>
      <div class="form-field-container">
        <label for="code-target">Email or Phone</label>
        <input type="text" name="code-target" formControlName="codeTarget" />
      </div>
    </div>
    <div class="buttons-layout">
      <button type="submit" class="submit-button">Get Recovery Code</button>
      <p class="go-back" (click)="goToLogin()">Back to login</p>
    </div>
  </form>
</div>
