:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  box-shadow: 0px 0px 1vmax 1vmax rgb(190, 190, 190);
  border-radius: 5vmax;
  padding: 3vh 3vw;
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.table-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 5vh;
}

.go-back {
  font-size: 1.25vmax;
}

.go-back:hover {
  cursor: pointer;
  text-decoration: underline;
}

.buttons-layout {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
