<div class="main-container">
  <form
    class="form-container"
    [formGroup]="formGroup"
    (ngSubmit)="resetPassword()"
  >
    <div class="table-layout">
      <div class="form-field-container">
        <label for="old_password">Old Password</label>
        <input
          type="password"
          name="old_password"
          formControlName="oldPassword"
        />
      </div>
      <div class="form-field-container">
        <label for="new_password">New Password</label>
        <input
          type="password"
          name="new_password"
          formControlName="newPassword"
        />
      </div>
      <div class="form-field-container">
        <label for="confirm-password">Confirm Password</label>
        <input
          type="password"
          name="confirm-password"
          formControlName="confirmPassword"
        />
      </div>
    </div>
    <div class="buttons-layout">
      <button type="submit" class="submit-button">Reset Password</button>
    </div>
  </form>
</div>
