:host {
    position: fixed;
    top: 10vh;
    left: 20vw;
    background-color: white;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 25px;
    padding: 5vh 5vw;
  }
  
  .download-form>div {
    width: 100%;
    margin: 5vh auto;
    display: block;
  }
  
  .download-form input {
    margin-top: 1vh;
  }
  
  .download-form select {
    margin-top: 1vh;
  }
  
  .actions button {
    margin: 0 1vw;
  
  }